.box{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: all 1s;

    margin: auto;
    padding: 20px;
    color: black;
    overflow: hidden;
    text-align: center;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}
.card{
    width: 350px;
    margin: auto;
    overflow: hidden;
}
.card-content{
    background-color: tomato;
    padding: 10px;
}
.card-img{
    height: 200px;
    overflow: hidden;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}
.card-content h3{
    transform: translateX(-400px);
    transition: all 1s;
}
.card-content p{
    transform: translateX(400px);
    transition: all 1s;
}
.card:hover img{
    transform: scale(1.2);
}
.card:hover h3,
.card:hover p{
    transform: translateX(0);
}
.box p{
    transform: translateX(400px);
    transition: all 1s;
}
.box h2{
    transform: translateX(-400px);
    transition: all 1s;
}
.box:hover p,
.box:hover h2{
  transform: translateX(0);
  transform: translateX(0);
}